body {
  width: 100%;
}

#hashdiv {
  position: absolute;
  margin: 15px;
}

#hashtag {
  margin: 0 20px 0 10px;
}

.tweet {
  float: left;
  width: 28%;
  height: 280px;
  margin: 60px 15px 20px 30px;
  word-wrap: break-word;
  border: 3px groove #98BF21;
}

.user {
  font-size: 27px;
  color: #1E90FF;
  padding-top: -18px;
  padding-left: 10px;
}

.text {
  font-size: 20px;
  padding: 0 20px 0 20px;
}
