body {
  width: 100%;
}

#hashdiv {
  position: absolute;
  margin: 15px;
}

#hashtag {
  margin: 0 20px 0 10px;
}

.tweet {
  float: left;
  width: 28%;
  height: 250px;
  margin: 60px 17px 20px 30px;
  word-break: break-all;
  font-size: 25px;
  padding: 6px;
  border: 3px groove #98BF21;
}
